[Desktop Entry]
Type=Application
Exec=/home/gilbert/.local/bin/foot-launch %U
Icon=foot
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;

Name=Foot
GenericName=Terminal
Comment=A wayland native terminal emulator
